<h1>{{this.name}}</h1>

<dl>
    <td>Nombre:</td>
    <dd>{{this.name}}</dd>
</dl>
<dl>
    <td>Edad:</td>
    <dd>{{this.age}}</dd>
</dl>
<dl>
    <td>Método:</td>
    <dd>{{this.getHeroDescription()}}</dd>
</dl>
<dl>
    <td>Capitalizado:</td>
    <dd>{{this.capitalizedName}}</dd>
</dl>

<button 
    *ngIf="name !== 'Spiderman'"
    (click)="changeHero()" 
    class="btn btn-primary mx-2">
    Cambiar Nombre
</button>

<button 
    *ngIf="age!== 33"
    (click)="changeAge()" 
    class="btn btn-primary mx-2">
    Cambiar Edad
</button>

<button 
    (click)="resetForm()" 
    class="btn btn-primary mx-2">
    Restablecer valores
</button>