<h3>Lista de Heroes</h3>

<!-- <ul class="mt-2 list-group">
    <li class="list-group-item">Spiderman</li>
    <li class="list-group-item">Ironman</li>
    <li class="list-group-item">Hulk</li>
    <li class="list-group-item">Thor</li>
</ul> -->

<div *ngIf="deletedHero; else nothingWasDeleted">
    <h3>Héroe borrado <small class="text-danger"> {{this.deletedHero}} </small> </h3>
</div>

<ng-template #nothingWasDeleted>
    <h3>No ha borrado nada</h3>
</ng-template>

<button
(click)="removeLastHero()"
    *ngIf="heroNames.length > 0" 
    class="btn btn-outline-danger mx-2">
    Borrar último héroe
</button>

<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames" 
        class="list-group-item">
        <strong>{{name}}</strong>
    </li>
</ul>

